
<h1>Team Name: <%=@team['name']%></h1>
<h3>Team Motto: <%=@team['motto']%></h3>

<h3>Hero Name: <%=@team['members']['super1']['name']%></h3>
Hero Power: <%=@team['members']['super1']['power']%><br>
Hero Biography: <%=@team['members']['super1']['bio']%>

<h3>Hero Name: <%=@team['members']['super2']['name']%></h3>
Hero Power: <%=@team['members']['super2']['power']%><br>
Hero Biography: <%=@team['members']['super2']['bio']%>

<h3>Hero Name: <%=@team['members']['super3']['name']%></h3>
Hero Power: <%=@team['members']['super3']['power']%><br>
Hero Biography: <%=@team['members']['super3']['bio']%>



